/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*inbox  css here!*/
.cp-l {
  float: left;
}
body {
  direction: none;
  background: #f9f9f9 !important;
}
body {
  text-align: right !important;
}

.cuspr-.inbox-fr {
  float: left;
}

.cuspl-0 {
  padding-left: 0;
}
.inbox-fr {
  float: left;
}
.inbox-caret .glyphicon-triangle-bottom {
  top: 10px;
  right: -9.6px;
}
.inbox-custom-table tbody tr th:first-child {
  text-align: right;
}
.inbox-custom-rtl-tl {
  text-align: left;
}
.table thead th.cus-tab-ls {
  border-radius: 0 5px 0 0;
}
.table thead th.cus-tab-rs {
  border-radius: 5px 0 0 0;
}
.up-date-hed tr th:nth-child(1),
.on-numb-fs-tb tr td:nth-child(1) {
  padding-left: 0;
  padding-right: 36px;
}
/*inbox  css end !*/

/*approva css here*/

/*my-request css here*/
.pr-0 {
  padding-left: 0;
}
.cus-top-heading {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 0;
  right: 5px;
  float: right;
}
.img-rtl-pl {
  padding-right: 15px;
}
.cus-cent-top-header {
  padding-left: 5px;
  border-left: 2px solid #979797;
  padding-right: 0;
  border-right: none;
}
.announcements-page .announcement-block {
  padding: 25px 100px 25px 25px;
}
.announcements-page .announcement-block-top .align-left {
  float: right;
}
.announcements-page .announcement-block-top .align-right {
  float: left;
}
.announcements-page .announcement-block-top .image-holder {
  float: right;
  margin: 0 -70px 0 0;
}

@media only screen and (max-width: 767px) {
  .announcements-page .announcement-block {
    padding: 20px;
  }
  .announcements-page .announcement-block-top .align-left,
  .announcements-page .announcement-block-top .align-right {
    float: none;
  }
  .announcements-page .announcement-block-top .image-holder {
    float: right;
    margin: 0 0 0 15px;
  }
}

@media only screen and (min-width: 767px) {
  .main-content-usman {
    float: right;
    text-align: end;
  }
  .rtl-mlg-tr {
    text-align: center;
  }
}
@media only screen and (max-width: 1075px) {
  .btn-pa {
    margin-bottom: 8px;
    display: inline-block;
  }
}

/*my-request css end*/

/*happines css here*/
.happines .table > thead > tr > th {
  padding-left: 0;
}
.rtl-assig-report-pr-0 {
  padding-right: 0;
}
.btn-txt-rig {
  text-align: left;
}
/*happines css end*/
.task-dir {
  text-align: right;
}
.task-info {
  position: relative;
  right: 15px;
}
.checkmark {
  margin-left: 0px;
}
.annonc-rtl-change {
  float: right !important;
}
.annonce-in-xs button {
  left: 0;
}
@media only screen and (max-width: 1150px) and (min-width: 991px) {
  .txt-cnt {
    position: relative;
    right: -15px;
    padding-left: 0;
    padding-right: 0;
  }
}
.dic-off-btn-fl {
  float: left;
}
.dis-off-card {
  position: relative;
  left: -5px;
  top: 8px;
}
.cus-pic-dir {
  float: right;
}

@media only screen and (max-width: 575px) {
  .annonce-in-xs button {
    float: right;
    margin-top: 15px;
  }
  .announce-btn-customize {
    display: block;
    height: 210px;
    position: relative;
    top: 0px;
    left: 5px;
  }
}
.fr-rtl {
  float: right;
}
.str-serv {
  position: relative !important;
  right: 70px !important;
  font-size: 10px !important;
  top: 18px !important;
  color: #fff;
  float: left !important;
}
.rec-pos {
  position: relative !important;
  left: 0 !important;
  top: 15px !important;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  float: left !important;
}
.pos-left-on-rtl {
  position: relative;
  left: -15px;
}
@media only screen and (max-width: 767px) and (min-width: 575px) {
  .rec-pos {
    position: relative !important;
    left: 0 !important;
    top: 90px !important;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    float: left !important;
  }
  .str-serv {
    position: relative !important;
    right: 70px !important;
    font-size: 10px !important;
    top: 92px !important;
    color: #fff;
    float: left !important;
  }
  .announce-btn-customize {
    display: block;
    height: 120px;
    position: relative;
    top: -130px;
    left: 5px;
  }
  .gm-cir-des.announce-btn-customize {
    position: relative !important;
    height: 100px !important;
    top: 30px !important;
    left: 5px;
    display: inline-block;
  }
}
@media only screen and (max-width: 575px) {
  .serv-custom-width {
    height: 185px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .pos-left-on-rtl {
    top: -15px;
  }
}
/*anounced css here*/
.cus-mar-rig-annonc {
  margin-right: 0 !important;
}
@media only screen and (max-width: 767px) {
  .rtl-mb-cus {
    margin-bottom: 5px !important;
  }
}
@media only screen and (max-width: 330px) {
  .txt-eln-end {
    position: relative;
    bottom: 0px;
  }
}
/*saeeed magazine css here*/

@media only screen and (max-width: 330px) {
  .txt-eln-end {
    position: relative;
    bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .custom-0fs.col-sm-offset-2 {
    margin-right: 16.66666667% !important;
    margin-left: 0 !important;
  }
  .rtl-tc {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .custom-0fs .col-md-6 {
    width: 80%;
  }
}
/*assigen manager*/
.asg-mng-pg-1-crd.accordion-toggle:after {
  right: 97%;
}
.asg-mng-pg-snd-crd-inner.accordion-toggle:after {
  right: 97%;
}
.asg-mng-pg-1-crd-rep.accordion-toggle:after {
  right: 97%;
}
.f-loc {
  right: 94%;
}
@media only screen and (min-width: 1100px) {
  .asg-mng-pg-1-crd.accordion-toggle:after {
    right: 97%;
  }
  .asg-mng-pg-snd-crd-inner.accordion-toggle:after {
    right: 97%;
  }
  .asg-mng-pg-1-crd-rep.accordion-toggle:after {
    right: 97%;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 767px) {
  .asg-mng-pg-1-crd.accordion-toggle:after {
    right: 95%;
  }
  .asg-mng-pg-snd-crd-inner.accordion-toggle:after {
    right: 95%;
  }
  .asg-mng-pg-1-crd-rep.accordion-toggle:after {
    right: 95%;
  }
  .f-loc {
    right: 94%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .asg-mng-pg-1-crd.accordion-toggle:after {
    right: 92%;
  }
  .asg-mng-pg-snd-crd-inner.accordion-toggle:after {
    right: 92%;
  }
  .asg-mng-pg-1-crd-rep.accordion-toggle:after {
    right: 92%;
  }
  .f-loc {
    right: 94%;
  }
}

.asg-mng-pg-1-crd,
.asg-mng-pg-snd-crd-inner {
  padding: 10px 15px 10px 25px;
}
.acor-inner-img-wid-tex {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 11px;
}
.acor-inner-rep-img-wid-tex {
  position: relative;
  right: 12px;
  font-size: 11px;
}
.cros-inner-accor-for-clos {
  float: left;
}

/*task managment*/
.task-topic-admin .set_panel1 {
  display: -ms-grid;
  display: grid;
}
.task-topic-admin .set_panel1 {
  display: -ms-grid;
  display: grid;
}
.sector_option .set_panel1 {
  display: -ms-grid;
  display: grid;
}
.cus-heg-on-lg {
  float: left;
}
@media screen and (min-width: 1300px) {
  .add_task_manager.txt-cnt {
    text-align: left;
  }
}
@media screen and (min-width: 991px) {
  .pad-r-cus {
    padding-right: 15px !important;
  }
}
@media screen and (max-width: 1150px) and (min-width: 991px) {
  .add_task_manager.txt-cnt {
    position: relative;
    right: 0px;
    text-align: right;
  }
}
@media only screen and (max-width: 815px) and (min-width: 768px) {
  .only-pr-n {
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) and (min-width: 575px) {
  .add_task_manager.txt-cnt {
    text-align: left;
  }
}

@media screen and (min-width: 767px) {
  .cus-task-mng-fil-cent {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .add_task_manager.txt-cnt {
    text-align: right;
  }
}

/*achiv&proj arsl*/
.task-topic-admin .sector_option {
  margin-left: 0;
  margin-right: 0;
}

.task-topic-admin .filter_label {
  margin-left: 15px;
}
.task-topic-admin .set_Input_Filter {
  padding-left: 220px;
  padding-right: 0px;
}
/*certification arsl*/
.task-topic-admin .sector_option {
  margin-left: 0;
  margin-right: 0;
}

.task-topic-admin .filter_label {
  margin-left: 15px;
}
.task-topic-admin .set_Input_Filter {
  padding-left: 220px;
  padding-right: 0px;
}

/*job history arsl*/
/*servay reports muhmn*/
.survey-report-page .survey-setting {
  float: right;
}

.survey-report-page .survey-report-button2 {
  text-align: left;
  float: left;
}

@media screen and (max-width: 767px) {
  .survey-report-page .survey-setting {
    width: 100%;
  }

  .survey-report-page .survey-report-button2 {
    text-align: right;
    width: 100%;
  }
}
/*saeed survay*/
.saeed-surveys-page .s {
  padding: 30px;
  text-align: left;
}
/*events*/
.events-custom .updates {
  direction: rtl;
  padding-right: 25px;
}
.events-set-main .events-img {
  float: right;
}
#fullCalendar .fc-right .fc-today-button {
  float: left;
}
.fc .fc-toolbar > * > * {
  float: right;
}
.events-custom .upcomming-events {
  text-align: right;
}
.events-custom .events-content-set {
  direction: rtl;
  text-align: right;
}
.events-custom .bottom-icons {
  float: left;
}
.events-custom .bottom-icons .d-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.updates span {
  color: #5b5b5b;
  display: table-row;
}
@media only screen and (max-width: 767px) {
  .events-set-main .events-img {
    float: right !important;
    display: block;
    width: 100%;
  }
  .events-set-main .events-img img {
    width: 50px;
    float: right;
  }
}
.task-topic-admin .usman-container,
.survey-report-page .usman-container {
  display: block;
}
.survey-checkbox-panel .usman-container {
  display: block;
} /*footer bottom*/
.custom-new-generic-page .pagination {
  float: left;
}
.task-topic-admin .float-left {
  float: right !important;
}
.task-topic-admin .float-right {
  float: left !important;
}
.task-topic-admin .text-right {
  text-align: left !important;
}
.task-topic-admin .text-left {
  text-align: right !important;
}
.custom-new-generic-page .survey-report-button {
  float: left;
}
@media only screen and (max-width: 355px) {
  .custom-new-generic-page .survey-report-button2 button {
    margin-bottom: 10px !important;
  }
}
.survey-admin .f-loc {
  position: absolute;
  top: 35px;
  right: -webkit-calc(100% - 40px);
  right: calc(100% - 40px);
}
.cus-pic-dir.mar-cus-b {
  text-align: left !important;
}
@media only screen and (max-width: 767px) and (min-width: 575px) {
  .announce-btn-customize {
    display: block;
    position: relative;
    top: 0;
    left: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .announce-btn-customize.sug-cus-btn-top {
    display: block;
    height: 210px;
    position: relative;
    top: 0px;
    left: 5px;
  }
}
@media only screen and (max-width: 400px) {
  .suggestion-review-text-col {
    width: 50% !important;
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) and (min-width: 401px) {
  .suggestion-review-text-col {
    width: 67%;
  }
}
.job-recruitment .job-vac-bg-holder-top .col-lg-6 {
  float: right;
}
.job-recruitment .job-vac-bg-holder-top .image-holder {
  float: right;
}
.job-recruitment .job-vac-bg-holder-top .content {
  padding: 15px 15px 0 0;
}
.job-recruitment .job-rec-panel-padding h4 {
  margin: 0 10px 0 0;
}
.job-recruitment .job-vacancy-listing li i {
  margin: 0 0 0 5px;
}
.job-recruitment .set-dropdown-icon {
  float: left;
}
.job-recruitment .job-vac-bg-holder-top .col-lg-6.text-right {
  text-align: left;
}
.job-recruitment .set-dropdown-icon {
  float: left;
}

@media only screen and (max-width: 991px) {
  .job-recruitment .job-vac-bg-holder-top .col-lg-6.text-right {
    text-align: right;
  }
  .job-vac-bg-holder-top .text-right {
    float: right;
    text-align: right;
  }
}

/*personal -profile*/
@media only screen and (max-width: 2000px) and (min-width: 1200px) {
  .custom-new-generic-page .f-loc {
    right: 92%;
  }
  .cus-spec {
    right: 86% !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  .custom-new-generic-page .f-loc {
    right: 92%;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 767px) {
  .custom-new-generic-page .f-loc {
    right: 90%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 650px) {
  .custom-new-generic-page .f-loc {
    right: 92%;
  }
  .cus-spec {
    right: 88% !important;
  }
}
@media only screen and (max-width: 650px) and (min-width: 575px) {
  .custom-new-generic-page .f-loc {
    right: 92%;
  }
  .cus-spec {
    right: 86% !important;
  }
}
@media only screen and (max-width: 575px) and (min-width: 320px) {
  .custom-new-generic-page .f-loc {
    right: 88%;
  }
}
/*custom checkbox*/
.usman-container.set_survey_margin_checkbox {
  display: block;
  width: 98%;
}
.panel-default.set_panel .usman-container {
  display: inline-block;
  position: relative;
  padding-left: 0;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  .panel-default.set_panel .checkmark {
    position: absolute;
    top: 0;
    left: 88%;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid gray !important;
    border-radius: 2px;
  }
}

/*reports css here*/
@media only screen and (min-width: 992px) {
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 15px !important;
  }
}
/*survay-admin*/
.set_date .cus-dat-us {
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}
.on-for-check .on-rtl-fl-l {
  float: left;
}
@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .on-for-check .checkmark {
    position: absolute;
    top: 0;
    left: 96%;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid gray !important;
    border-radius: 2px;
  }
}
@media only screen and (min-width: 1200px) {
  .on-for-check .usman-container.set_survey_margin_checkbox {
    display: block;
    width: 93%;
  }
}
@media only screen and (max-width: 991px) and (min-width: 767px) {
  .on-for-check .usman-container.set_survey_margin_checkbox {
    display: block;
    width: 95%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 575px) {
  .on-for-check .usman-container.set_survey_margin_checkbox {
    display: block;
    width: 95%;
  }
}
span.p-now {
  display: inline-block;
}
