:root {
  --themeColor1: #B6A983;
  --themeColor2: #287DB5;
  --themeColor3: #869339;
  --themeColor4: #CC9D50;
  --themeColor5: #9e822f;
  --themeColor6: rgba(182, 169, 131, 0.11);
  --themeColor7: rgba(0,0,0,0.1);
}
