:root {
  --themeColor1: #CC9D50;
  --themeColor2: #F1BD43;
  --themeColor3: #C6B7A5;
  --themeColor4: #A34E24;
  --themeColor5: #9e6810;
   --themeColor6: rgba(204, 157, 80, 0.11);
   --themeColor7: rgba(0,0,0,0.1);
}
