:root {
  --themeColor1: #869339;
  --themeColor2: #C1CD81;
  --themeColor3: #4A1C15;
  --themeColor4: #DED495;
  --themeColor5: #4c541e;
  --themeColor6: rgba(134, 147, 57, 0.11);
  --themeColor7: rgba(0,0,0,0.1);
}
